{% extends 'index.html' %}


{% block title %}Trades{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'stocks:companies-list' %}">Companies</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ company.get_absolute_url }}">
            {{ company.ticker.upper }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Insider Trades</li>
{% endblock %}

{% block content %}
    <h2>{{ company.ticker.upper }} Insider Trades</h2>
    <br>

    {% include './includes/trades_table.html' with trades=object_list %}
{% endblock %}